<main id="sports">
   <!-- Football -->
   <section class="sport_football">
      <h2>Football</h2>
      <p>
        This is an important text abour football Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Aperiam voluptatem eos officia nihil ut quaerat, molestiae laborum exercitationem nesciunt quam itaque. 
        Ipsam, sapiente. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, exercitationem.
      </p>
    </section>

    <!-- basketball -->
    <section class="sport_basketball">
      <h2>Basketball</h2>
      <p>
        This is an important text about basketball Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
        Vero sed, eaque nisi inventore illum, possimus beatae reiciendis, provident mollitia sunt fuga aut. 
        Nemo unde reiciendis eveniet corporis cupiditate incidunt sunt consequuntur vel, minima iure!
      </p>
    </section>

    <!-- Golf -->
    <section class="sport_golf">
      <h2>Golf</h2>
      <p>
        This is an important text about golf Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Illo doloremque voluptatibus vitae, modi, laudantium dicta voluptatem magni repellat, maiores quam cumque ibero! 
        Odit fuga iusto porro quas ipsa, neque nobis dolore mollitia animi iure iste ipsam eligendi impedit dolorum. 
        Ut sit perferendis non facilis quos!
      </p>
    </section>
</main>
