<body>
    <!-- section*3.section.section-$>img+div.content>p{Nov 10, 2100}+h3{Some Headline}+p{Some Content} -->

    <!-- About Dog -->
    <section class="section">
        <img src="assets/img/animalspix/5.jpg" alt="Dog" />
        <div class="section__content">
          <p>Nov 10, 2100</p>
          <h3>Dog</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit
            reiciendis, dolorem magnam ad tenetur quod eum aut beatae labore
            repudiandae quia atque voluptatem ab enim error praesentium? Omnis,
            nostrum aliquam.
          </p>
        </div>
    </section>

    <!-- About Moose -->
    <section class="section">
        <img src="assets/img/animalspix/13.jpg" alt="Moose" />
        <div class="section__content">
          <p>Nov 10, 2100</p>
          <h3>Moose</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit
            reiciendis, dolorem magnam ad tenetur quod eum aut beatae labore
            repudiandae quia atque voluptatem ab enim error praesentium? Omnis,
            nostrum aliquam.
          </p>
        </div>      
    </section>

    <!-- About Owl -->
    <section class="section">
        <img src="assets/img/animalspix/15.jpg" alt="Owl" />
      <div class="section__content">
        <p>Nov 10, 2100</p>
        <h3>Owl</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit
          reiciendis, dolorem magnam ad tenetur quod eum aut beatae labore
          repudiandae quia atque voluptatem ab enim error praesentium? Omnis,
          nostrum aliquam.
        </p>
      </div>
    </section>
</body>