*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(255, 252, 222);

    /* Initializing The Flexbox Model */
    display: flex;

    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    padding: 3rem;height: 100vh;
}